In [1]:
#階層式索引(level)

import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
               index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])


s1
s1.index.names = ['index1','index2']
s1

index1  index2
a       1        -0.839189
        2         0.221040
        3         0.172843
b       1         0.736366
        2        -1.167702
c       3        -0.436149
        1         1.097623
d       2         1.912467
        3         1.339583
dtype: float64

In [3]:
s1['a']

index2
1   -0.839189
2    0.221040
3    0.172843
dtype: float64

In [2]:
s1['a'][-2:]

index2
2    0.221040
3    0.172843
dtype: float64

In [4]:
s1.unstack('index1')

index1         a         b         c         d
index2
1      -0.839189  0.736366  1.097623       NaN
2       0.221040 -1.167702       NaN  1.912467
3       0.172843       NaN -0.436149  1.339583

In [5]:
s1.unstack('index2')

index2         1         2         3
index1
a      -0.839189  0.221040  0.172843
b       0.736366 -1.167702       NaN
c       1.097623       NaN -0.436149
d            NaN  1.912467  1.339583