In [10]:
import numpy as np
array_2d = np.random.randint(50,100,size=(50,5))
array_2d

array([[92, 63, 92, 56, 52],
       [99, 96, 64, 79, 99],
       [50, 74, 75, 82, 93],
       [68, 56, 97, 98, 91],
       [67, 55, 66, 61, 57],
       [65, 79, 54, 94, 91],
       [94, 71, 76, 91, 90],
       [85, 50, 57, 94, 56],
       [95, 77, 73, 79, 63],
       [51, 65, 51, 98, 66],
       [64, 75, 56, 54, 62],
       [54, 66, 69, 52, 66],
       [76, 66, 57, 94, 70],
       [98, 52, 83, 77, 53],
       [69, 59, 91, 74, 52],
       [69, 93, 67, 98, 94],
       [96, 72, 69, 90, 93],
       [66, 93, 86, 55, 99],
       [69, 52, 84, 77, 66],
       [57, 80, 50, 50, 93],
       [70, 62, 80, 79, 98],
       [58, 93, 80, 51, 62],
       [50, 74, 62, 68, 89],
       [90, 66, 57, 73, 78],
       [71, 69, 62, 91, 82],
       [79, 52, 94, 99, 76],
       [62, 77, 68, 98, 57],
       [54, 60, 93, 83, 95],
       [57, 67, 60, 64, 79],
       [55, 79, 53, 59, 62],
       [82, 58, 87, 63, 78],
       [93, 94, 79, 95, 68],
       [80, 82, 73, 82, 84],
       [84, 54, 92, 55, 98],
       [78, 77, 71, 82, 83],
       [57, 50, 87, 54, 63],
       [67, 93, 61, 56, 71],
       [96, 62, 62, 77, 88],
       [95, 57, 98, 97, 58],
       [88, 72, 54, 90, 55],
       [72, 78, 84, 55, 66],
       [97, 53, 75, 65, 72],
       [85, 91, 64, 71, 72],
       [75, 85, 78, 87, 84],
       [98, 82, 82, 95, 82],
       [54, 79, 67, 86, 59],
       [98, 86, 76, 59, 95],
       [95, 59, 80, 53, 59],
       [59, 77, 97, 91, 86],
       [76, 57, 95, 98, 79]])

In [11]:
#list comprehension->快速建立list
[f'{num}號' for num in range(1,51)]

['1號',
 '2號',
 '3號',
 '4號',
 '5號',
 '6號',
 '7號',
 '8號',
 '9號',
 '10號',
 '11號',
 '12號',
 '13號',
 '14號',
 '15號',
 '16號',
 '17號',
 '18號',
 '19號',
 '20號',
 '21號',
 '22號',
 '23號',
 '24號',
 '25號',
 '26號',
 '27號',
 '28號',
 '29號',
 '30號',
 '31號',
 '32號',
 '33號',
 '34號',
 '35號',
 '36號',
 '37號',
 '38號',
 '39號',
 '40號',
 '41號',
 '42號',
 '43號',
 '44號',
 '45號',
 '46號',
 '47號',
 '48號',
 '49號',
 '50號']

In [12]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

     國文  英文  數學  地理  社會
1號   90  84  58  67  96
2號   82  57  93  81  79
3號   95  56  73  69  94
4號   51  85  78  78  61
5號   93  75  90  59  57
6號   59  99  67  59  85
7號   84  52  81  76  61
8號   73  64  85  79  55
9號   77  63  97  79  93
10號  63  57  79  73  54
11號  54  89  81  91  99
12號  62  64  85  96  54
13號  89  54  77  94  82
14號  72  72  86  78  81
15號  90  68  79  82  59
16號  82  52  94  67  62
17號  71  95  89  60  62
18號  63  82  71  87  78
19號  52  64  50  85  60
20號  78  73  85  54  64
21號  60  58  91  55  71
22號  95  62  91  73  70
23號  66  87  75  64  73
24號  92  74  61  56  60
25號  87  58  74  61  54
26號  59  72  98  85  81
27號  64  70  91  97  92
28號  64  53  53  90  84
29號  76  86  87  74  90
30號  75  59  86  65  60
31號  69  83  86  76  59
32號  66  59  87  90  74
33號  85  75  89  61  55
34號  77  83  96  65  95
35號  73  68  75  62  77
36號  84  82  56  69  59
37號  86  68  51  66  63
38號  93  72  84  99  58
39號  54  96  94  50  99
40號  89  57  78  97  68
41號  77  56  82  89  75
42號  51  88  55  89  75
43號  89  53  66  59  79
44號  64  99  58  85  73
45號  62  88  51  94  79
46號  68  88  71  54  89
47號  55  96  99  71  50
48號  76  57  82  78  51
49號  91  63  72  62  78
50號  72  65  81  99  59

In [13]:
#從dataFrame取出ndarray
df1.values

array([[90, 84, 58, 67, 96],
       [82, 57, 93, 81, 79],
       [95, 56, 73, 69, 94],
       [51, 85, 78, 78, 61],
       [93, 75, 90, 59, 57],
       [59, 99, 67, 59, 85],
       [84, 52, 81, 76, 61],
       [73, 64, 85, 79, 55],
       [77, 63, 97, 79, 93],
       [63, 57, 79, 73, 54],
       [54, 89, 81, 91, 99],
       [62, 64, 85, 96, 54],
       [89, 54, 77, 94, 82],
       [72, 72, 86, 78, 81],
       [90, 68, 79, 82, 59],
       [82, 52, 94, 67, 62],
       [71, 95, 89, 60, 62],
       [63, 82, 71, 87, 78],
       [52, 64, 50, 85, 60],
       [78, 73, 85, 54, 64],
       [60, 58, 91, 55, 71],
       [95, 62, 91, 73, 70],
       [66, 87, 75, 64, 73],
       [92, 74, 61, 56, 60],
       [87, 58, 74, 61, 54],
       [59, 72, 98, 85, 81],
       [64, 70, 91, 97, 92],
       [64, 53, 53, 90, 84],
       [76, 86, 87, 74, 90],
       [75, 59, 86, 65, 60],
       [69, 83, 86, 76, 59],
       [66, 59, 87, 90, 74],
       [85, 75, 89, 61, 55],
       [77, 83, 96, 65, 95],
       [73, 68, 75, 62, 77],
       [84, 82, 56, 69, 59],
       [86, 68, 51, 66, 63],
       [93, 72, 84, 99, 58],
       [54, 96, 94, 50, 99],
       [89, 57, 78, 97, 68],
       [77, 56, 82, 89, 75],
       [51, 88, 55, 89, 75],
       [89, 53, 66, 59, 79],
       [64, 99, 58, 85, 73],
       [62, 88, 51, 94, 79],
       [68, 88, 71, 54, 89],
       [55, 96, 99, 71, 50],
       [76, 57, 82, 78, 51],
       [91, 63, 72, 62, 78],
       [72, 65, 81, 99, 59]])

In [14]:
#dataFrame[欄位名稱] subscript
type(df1['國文'])

pandas.core.series.Series

In [15]:
#dataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

(1號     90
 2號     82
 3號     95
 4號     51
 5號     93
 6號     59
 7號     84
 8號     73
 9號     77
 10號    63
 11號    54
 12號    62
 13號    89
 14號    72
 15號    90
 16號    82
 17號    71
 18號    63
 19號    52
 20號    78
 21號    60
 22號    95
 23號    66
 24號    92
 25號    87
 26號    59
 27號    64
 28號    64
 29號    76
 30號    75
 31號    69
 32號    66
 33號    85
 34號    77
 35號    73
 36號    84
 37號    86
 38號    93
 39號    54
 40號    89
 41號    77
 42號    51
 43號    89
 44號    64
 45號    62
 46號    68
 47號    55
 48號    76
 49號    91
 50號    72
 Name: 國文, dtype: int64,
 1號     84
 2號     57
 3號     56
 4號     85
 5號     75
 6號     99
 7號     52
 8號     64
 9號     63
 10號    57
 11號    89
 12號    64
 13號    54
 14號    72
 15號    68
 16號    52
 17號    95
 18號    82
 19號    64
 20號    73
 21號    58
 22號    62
 23號    87
 24號    74
 25號    58
 26號    72
 27號    70
 28號    53
 29號    86
 30號    59
 31號    83
 32號    59
 33號    75
 34號    83
 35號    68
 36號    82
 37號    68
 38號    72
 39號    96
 40號    57
 41號    56
 42號    88
 43號    53
 44號    99
 45號    88
 46號    88
 47號    96
 48號    57
 49號    63
 50號    65
 Name: 英文, dtype: int64)

In [25]:
df1['國文'][0]

/tmp/ipykernel_486/2386324535.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

90

In [26]:
df1['國文'][:5]

1號    90
2號    82
3號    95
4號    51
5號    93
Name: 國文, dtype: int64

In [27]:
df1['國文']['1號']

90

In [24]:
#Series的選取,使用subscript
#Series[數值的index]
df1['國文'][0]
#Series[數值的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]]
df1['國文'][['1號','2號','3號']]

/tmp/ipykernel_486/3448787725.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    90
2號    82
3號    95
Name: 國文, dtype: int64

In [17]:
#dataFrame的subscripts
#dataFrame[欄位名稱]
df1['國文']

1號     90
2號     82
3號     95
4號     51
5號     93
6號     59
7號     84
8號     73
9號     77
10號    63
11號    54
12號    62
13號    89
14號    72
15號    90
16號    82
17號    71
18號    63
19號    52
20號    78
21號    60
22號    95
23號    66
24號    92
25號    87
26號    59
27號    64
28號    64
29號    76
30號    75
31號    69
32號    66
33號    85
34號    77
35號    73
36號    84
37號    86
38號    93
39號    54
40號    89
41號    77
42號    51
43號    89
44號    64
45號    62
46號    68
47號    55
48號    76
49號    91
50號    72
Name: 國文, dtype: int64

In [28]:
#dataFrame的subscripts
#dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

     國文  英文
1號   90  84
2號   82  57
3號   95  56
4號   51  85
5號   93  75
6號   59  99
7號   84  52
8號   73  64
9號   77  63
10號  63  57
11號  54  89
12號  62  64
13號  89  54
14號  72  72
15號  90  68
16號  82  52
17號  71  95
18號  63  82
19號  52  64
20號  78  73
21號  60  58
22號  95  62
23號  66  87
24號  92  74
25號  87  58
26號  59  72
27號  64  70
28號  64  53
29號  76  86
30號  75  59
31號  69  83
32號  66  59
33號  85  75
34號  77  83
35號  73  68
36號  84  82
37號  86  68
38號  93  72
39號  54  96
40號  89  57
41號  77  56
42號  51  88
43號  89  53
44號  64  99
45號  62  88
46號  68  88
47號  55  96
48號  76  57
49號  91  63
50號  72  65

In [29]:
#dataFrame的列的選取
#loc[字串]
#iloc[數值]

In [30]:
#選取1號
#loc[字串]
df1.loc['1號']

國文    90
英文    84
數學    58
地理    67
社會    96
Name: 1號, dtype: int64

In [32]:
#選取1號,2號,3號
#loc[[字串,字串]]
df1.loc[['1號','2號','3號']]

    國文  英文  數學  地理  社會
1號  90  84  58  67  96
2號  82  57  93  81  79
3號  95  56  73  69  94

In [33]:
#選取前5位
#iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  90  84  58  67  96
2號  82  57  93  81  79
3號  95  56  73  69  94
4號  51  85  78  78  61
5號  93  75  90  59  57

In [23]:
#選取後5位
#iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  68  88  71  54  89
47號  55  96  99  71  50
48號  76  57  82  78  51
49號  91  63  72  62  78
50號  72  65  81  99  59