In [2]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

     國文  英文  數學  地理  社會
1號   84  96  73  80  62
2號   64  89  84  82  79
3號   63  57  52  55  53
4號   92  74  62  88  97
5號   82  51  53  51  81
6號   59  65  96  87  53
7號   74  55  64  58  54
8號   90  77  98  54  81
9號   99  95  88  93  76
10號  98  53  75  66  74
11號  87  72  81  68  54
12號  52  56  71  72  93
13號  89  91  69  70  78
14號  98  94  85  56  87
15號  86  61  57  90  84
16號  71  93  50  89  96
17號  84  74  74  94  92
18號  72  95  99  70  62
19號  73  88  51  67  85
20號  85  70  55  89  65
21號  98  53  69  50  96
22號  93  66  70  72  68
23號  65  95  50  88  56
24號  56  69  58  56  66
25號  93  51  86  52  99
26號  99  56  90  83  87
27號  82  52  51  71  96
28號  68  74  80  61  77
29號  78  94  70  75  81
30號  77  70  85  63  60
31號  98  88  67  91  73
32號  81  51  72  76  66
33號  77  66  53  91  61
34號  80  66  89  90  96
35號  56  83  71  98  62
36號  70  74  60  94  58
37號  53  60  55  57  91
38號  70  78  80  68  59
39號  79  91  94  55  79
40號  53  69  89  92  59
41號  88  89  83  58  55
42號  50  75  91  87  90
43號  86  99  65  51  64
44號  57  84  73  93  97
45號  62  90  50  62  95
46號  81  71  58  50  94
47號  97  55  80  99  86
48號  50  80  92  99  99
49號  81  79  59  51  73
50號  80  60  69  73  71

In [3]:
df1['國文']

1號     84
2號     64
3號     63
4號     92
5號     82
6號     59
7號     74
8號     90
9號     99
10號    98
11號    87
12號    52
13號    89
14號    98
15號    86
16號    71
17號    84
18號    72
19號    73
20號    85
21號    98
22號    93
23號    65
24號    56
25號    93
26號    99
27號    82
28號    68
29號    78
30號    77
31號    98
32號    81
33號    77
34號    80
35號    56
36號    70
37號    53
38號    70
39號    79
40號    53
41號    88
42號    50
43號    86
44號    57
45號    62
46號    81
47號    97
48號    50
49號    81
50號    80
Name: 國文, dtype: int64

In [6]:
total_se = df1['國文'] + df1['英文'] + df1['數學'] + df1['地理'] + df1['社會']
total_se

1號     395
2號     398
3號     280
4號     413
5號     318
6號     360
7號     305
8號     400
9號     451
10號    366
11號    362
12號    344
13號    397
14號    420
15號    378
16號    399
17號    418
18號    398
19號    364
20號    364
21號    366
22號    369
23號    354
24號    305
25號    381
26號    415
27號    352
28號    360
29號    398
30號    355
31號    417
32號    346
33號    348
34號    421
35號    370
36號    356
37號    316
38號    355
39號    398
40號    362
41號    373
42號    393
43號    365
44號    404
45號    359
46號    354
47號    417
48號    420
49號    343
50號    353
dtype: int64

In [7]:
average_se = total_se / 5
average_se

1號     79.0
2號     79.6
3號     56.0
4號     82.6
5號     63.6
6號     72.0
7號     61.0
8號     80.0
9號     90.2
10號    73.2
11號    72.4
12號    68.8
13號    79.4
14號    84.0
15號    75.6
16號    79.8
17號    83.6
18號    79.6
19號    72.8
20號    72.8
21號    73.2
22號    73.8
23號    70.8
24號    61.0
25號    76.2
26號    83.0
27號    70.4
28號    72.0
29號    79.6
30號    71.0
31號    83.4
32號    69.2
33號    69.6
34號    84.2
35號    74.0
36號    71.2
37號    63.2
38號    71.0
39號    79.6
40號    72.4
41號    74.6
42號    78.6
43號    73.0
44號    80.8
45號    71.8
46號    70.8
47號    83.4
48號    84.0
49號    68.6
50號    70.6
dtype: float64

In [8]:
df1['總分'] = total_se
df1['平均'] = average_se
df1

     國文  英文  數學  地理  社會   總分    平均
1號   84  96  73  80  62  395  79.0
2號   64  89  84  82  79  398  79.6
3號   63  57  52  55  53  280  56.0
4號   92  74  62  88  97  413  82.6
5號   82  51  53  51  81  318  63.6
6號   59  65  96  87  53  360  72.0
7號   74  55  64  58  54  305  61.0
8號   90  77  98  54  81  400  80.0
9號   99  95  88  93  76  451  90.2
10號  98  53  75  66  74  366  73.2
11號  87  72  81  68  54  362  72.4
12號  52  56  71  72  93  344  68.8
13號  89  91  69  70  78  397  79.4
14號  98  94  85  56  87  420  84.0
15號  86  61  57  90  84  378  75.6
16號  71  93  50  89  96  399  79.8
17號  84  74  74  94  92  418  83.6
18號  72  95  99  70  62  398  79.6
19號  73  88  51  67  85  364  72.8
20號  85  70  55  89  65  364  72.8
21號  98  53  69  50  96  366  73.2
22號  93  66  70  72  68  369  73.8
23號  65  95  50  88  56  354  70.8
24號  56  69  58  56  66  305  61.0
25號  93  51  86  52  99  381  76.2
26號  99  56  90  83  87  415  83.0
27號  82  52  51  71  96  352  70.4
28號  68  74  80  61  77  360  72.0
29號  78  94  70  75  81  398  79.6
30號  77  70  85  63  60  355  71.0
31號  98  88  67  91  73  417  83.4
32號  81  51  72  76  66  346  69.2
33號  77  66  53  91  61  348  69.6
34號  80  66  89  90  96  421  84.2
35號  56  83  71  98  62  370  74.0
36號  70  74  60  94  58  356  71.2
37號  53  60  55  57  91  316  63.2
38號  70  78  80  68  59  355  71.0
39號  79  91  94  55  79  398  79.6
40號  53  69  89  92  59  362  72.4
41號  88  89  83  58  55  373  74.6
42號  50  75  91  87  90  393  78.6
43號  86  99  65  51  64  365  73.0
44號  57  84  73  93  97  404  80.8
45號  62  90  50  62  95  359  71.8
46號  81  71  58  50  94  354  70.8
47號  97  55  80  99  86  417  83.4
48號  50  80  92  99  99  420  84.0
49號  81  79  59  51  73  343  68.6
50號  80  60  69  73  71  353  70.6

In [5]:
#Series使用比較運算子
df1['總分'] >= 400

1號     False
2號     False
3號     False
4號     False
5號     False
6號     False
7號     False
8號     False
9號     False
10號     True
11號    False
12號     True
13號    False
14號    False
15號    False
16號     True
17號     True
18號    False
19號     True
20號    False
21號    False
22號    False
23號    False
24號    False
25號    False
26號    False
27號    False
28號    False
29號    False
30號     True
31號    False
32號    False
33號    False
34號    False
35號    False
36號    False
37號    False
38號    False
39號     True
40號    False
41號    False
42號    False
43號    False
44號    False
45號     True
46號    False
47號    False
48號    False
49號    False
50號    False
Name: 總分, dtype: bool

In [6]:
#dataFrame使用subscript,搜尋資料
#dataFrame[bool Series]

df1[df1['總分'] >= 400]

     國文  英文  數學  地理  社會   總分    平均
10號  91  87  99  72  94  443  88.6
12號  61  96  97  90  89  433  86.6
16號  97  89  84  93  68  431  86.2
17號  82  82  84  75  81  404  80.8
19號  72  82  86  97  91  428  85.6
30號  64  84  89  64  99  400  80.0
39號  95  76  97  69  76  413  82.6
45號  65  78  91  88  84  406  81.2

In [7]:
#查詢國文95分以上的學生
df1[df1['國文']>=95]

     國文  英文  數學  地理  社會   總分    平均
15號  99  88  80  62  62  391  78.2
16號  97  89  84  93  68  431  86.2
28號  96  66  72  50  51  335  67.0
29號  97  79  68  82  68  394  78.8
34號  95  64  82  52  90  383  76.6
39號  95  76  97  69  76  413  82.6
43號  99  57  54  92  80  382  76.4
49號  98  79  77  54  68  376  75.2

In [8]:
#查詢國文95分以上的學生同時總分400分以上
#and = &
#or = |
df1[(df1['國文']>=95) & (df1['總分']>=400)]

     國文  英文  數學  地理  社會   總分    平均
16號  97  89  84  93  68  431  86.2
39號  95  76  97  69  76  413  82.6