In [1]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

     國文  英文  數學  地理  社會
1號   81  51  84  74  73
2號   53  78  96  81  87
3號   64  91  69  54  57
4號   85  72  78  66  50
5號   85  86  76  67  92
6號   81  87  97  89  57
7號   74  78  74  73  79
8號   82  76  55  60  74
9號   52  92  99  78  61
10號  61  65  73  80  79
11號  64  52  88  67  99
12號  58  59  64  55  77
13號  79  52  72  55  71
14號  98  66  93  75  72
15號  88  99  85  74  88
16號  51  69  91  53  58
17號  81  80  58  83  71
18號  56  89  55  54  98
19號  81  77  64  95  81
20號  61  84  91  57  75
21號  66  99  77  65  58
22號  51  55  75  82  88
23號  52  80  89  54  66
24號  79  88  88  87  77
25號  60  99  84  74  57
26號  56  96  69  71  70
27號  62  70  84  73  98
28號  55  62  91  50  96
29號  52  81  66  99  52
30號  74  53  98  62  66
31號  78  71  62  50  67
32號  61  59  52  58  90
33號  72  66  81  87  51
34號  99  69  80  54  57
35號  86  94  73  75  71
36號  53  92  92  79  68
37號  93  96  72  65  60
38號  72  80  55  76  80
39號  57  90  54  82  91
40號  59  50  69  56  75
41號  71  79  52  87  60
42號  82  91  98  89  97
43號  87  85  52  64  85
44號  88  50  77  56  69
45號  91  91  79  71  86
46號  96  71  58  62  56
47號  64  60  78  82  73
48號  64  94  97  58  93
49號  97  93  88  56  98
50號  84  66  70  59  90

In [2]:
df1['國文']

1號     81
2號     53
3號     64
4號     85
5號     85
6號     81
7號     74
8號     82
9號     52
10號    61
11號    64
12號    58
13號    79
14號    98
15號    88
16號    51
17號    81
18號    56
19號    81
20號    61
21號    66
22號    51
23號    52
24號    79
25號    60
26號    56
27號    62
28號    55
29號    52
30號    74
31號    78
32號    61
33號    72
34號    99
35號    86
36號    53
37號    93
38號    72
39號    57
40號    59
41號    71
42號    82
43號    87
44號    88
45號    91
46號    96
47號    64
48號    64
49號    97
50號    84
Name: 國文, dtype: int64

In [3]:
total_se = df1['國文'] + df1['英文'] + df1['數學'] + df1['地理'] + df1['社會']
total_se

1號     363
2號     395
3號     335
4號     351
5號     406
6號     411
7號     378
8號     347
9號     382
10號    358
11號    370
12號    313
13號    329
14號    404
15號    434
16號    322
17號    373
18號    352
19號    398
20號    368
21號    365
22號    351
23號    341
24號    419
25號    374
26號    362
27號    387
28號    354
29號    350
30號    353
31號    328
32號    320
33號    357
34號    359
35號    399
36號    384
37號    386
38號    363
39號    374
40號    309
41號    349
42號    457
43號    373
44號    340
45號    418
46號    343
47號    357
48號    406
49號    432
50號    369
dtype: int64

In [4]:
average_se = total_se / 5
average_se

1號     72.6
2號     79.0
3號     67.0
4號     70.2
5號     81.2
6號     82.2
7號     75.6
8號     69.4
9號     76.4
10號    71.6
11號    74.0
12號    62.6
13號    65.8
14號    80.8
15號    86.8
16號    64.4
17號    74.6
18號    70.4
19號    79.6
20號    73.6
21號    73.0
22號    70.2
23號    68.2
24號    83.8
25號    74.8
26號    72.4
27號    77.4
28號    70.8
29號    70.0
30號    70.6
31號    65.6
32號    64.0
33號    71.4
34號    71.8
35號    79.8
36號    76.8
37號    77.2
38號    72.6
39號    74.8
40號    61.8
41號    69.8
42號    91.4
43號    74.6
44號    68.0
45號    83.6
46號    68.6
47號    71.4
48號    81.2
49號    86.4
50號    73.8
dtype: float64

In [5]:
df1['總分'] = total_se
df1['平均'] = average_se
df1

     國文  英文  數學  地理  社會   總分    平均
1號   81  51  84  74  73  363  72.6
2號   53  78  96  81  87  395  79.0
3號   64  91  69  54  57  335  67.0
4號   85  72  78  66  50  351  70.2
5號   85  86  76  67  92  406  81.2
6號   81  87  97  89  57  411  82.2
7號   74  78  74  73  79  378  75.6
8號   82  76  55  60  74  347  69.4
9號   52  92  99  78  61  382  76.4
10號  61  65  73  80  79  358  71.6
11號  64  52  88  67  99  370  74.0
12號  58  59  64  55  77  313  62.6
13號  79  52  72  55  71  329  65.8
14號  98  66  93  75  72  404  80.8
15號  88  99  85  74  88  434  86.8
16號  51  69  91  53  58  322  64.4
17號  81  80  58  83  71  373  74.6
18號  56  89  55  54  98  352  70.4
19號  81  77  64  95  81  398  79.6
20號  61  84  91  57  75  368  73.6
21號  66  99  77  65  58  365  73.0
22號  51  55  75  82  88  351  70.2
23號  52  80  89  54  66  341  68.2
24號  79  88  88  87  77  419  83.8
25號  60  99  84  74  57  374  74.8
26號  56  96  69  71  70  362  72.4
27號  62  70  84  73  98  387  77.4
28號  55  62  91  50  96  354  70.8
29號  52  81  66  99  52  350  70.0
30號  74  53  98  62  66  353  70.6
31號  78  71  62  50  67  328  65.6
32號  61  59  52  58  90  320  64.0
33號  72  66  81  87  51  357  71.4
34號  99  69  80  54  57  359  71.8
35號  86  94  73  75  71  399  79.8
36號  53  92  92  79  68  384  76.8
37號  93  96  72  65  60  386  77.2
38號  72  80  55  76  80  363  72.6
39號  57  90  54  82  91  374  74.8
40號  59  50  69  56  75  309  61.8
41號  71  79  52  87  60  349  69.8
42號  82  91  98  89  97  457  91.4
43號  87  85  52  64  85  373  74.6
44號  88  50  77  56  69  340  68.0
45號  91  91  79  71  86  418  83.6
46號  96  71  58  62  56  343  68.6
47號  64  60  78  82  73  357  71.4
48號  64  94  97  58  93  406  81.2
49號  97  93  88  56  98  432  86.4
50號  84  66  70  59  90  369  73.8

In [6]:
#Series使用比較運算子
df1['總分'] >= 400

1號     False
2號     False
3號     False
4號     False
5號      True
6號      True
7號     False
8號     False
9號     False
10號    False
11號    False
12號    False
13號    False
14號     True
15號     True
16號    False
17號    False
18號    False
19號    False
20號    False
21號    False
22號    False
23號    False
24號     True
25號    False
26號    False
27號    False
28號    False
29號    False
30號    False
31號    False
32號    False
33號    False
34號    False
35號    False
36號    False
37號    False
38號    False
39號    False
40號    False
41號    False
42號     True
43號    False
44號    False
45號     True
46號    False
47號    False
48號     True
49號     True
50號    False
Name: 總分, dtype: bool

In [7]:
#dataFrame使用subscript,搜尋資料
#dataFrame[bool Series]

df1[df1['總分'] >= 400]

     國文  英文  數學  地理  社會   總分    平均
5號   85  86  76  67  92  406  81.2
6號   81  87  97  89  57  411  82.2
14號  98  66  93  75  72  404  80.8
15號  88  99  85  74  88  434  86.8
24號  79  88  88  87  77  419  83.8
42號  82  91  98  89  97  457  91.4
45號  91  91  79  71  86  418  83.6
48號  64  94  97  58  93  406  81.2
49號  97  93  88  56  98  432  86.4

In [8]:
#查詢國文95分以上的學生
df1[df1['國文']>=95]

     國文  英文  數學  地理  社會   總分    平均
14號  98  66  93  75  72  404  80.8
34號  99  69  80  54  57  359  71.8
46號  96  71  58  62  56  343  68.6
49號  97  93  88  56  98  432  86.4

In [9]:
#查詢國文95分以上的學生同時總分400分以上
#and = &
#or = |
df1[(df1['國文']>=95) & (df1['總分']>=400)]

     國文  英文  數學  地理  社會   總分    平均
14號  98  66  93  75  72  404  80.8
49號  97  93  88  56  98  432  86.4

In [10]:
df1[(df1['國文']>=95) | (df1['總分']>=400)]

     國文  英文  數學  地理  社會   總分    平均
5號   85  86  76  67  92  406  81.2
6號   81  87  97  89  57  411  82.2
14號  98  66  93  75  72  404  80.8
15號  88  99  85  74  88  434  86.8
24號  79  88  88  87  77  419  83.8
34號  99  69  80  54  57  359  71.8
42號  82  91  98  89  97  457  91.4
45號  91  91  79  71  86  418  83.6
46號  96  71  58  62  56  343  68.6
48號  64  94  97  58  93  406  81.2
49號  97  93  88  56  98  432  86.4