In [2]:
import numpy as np
array_2d = np.random.randint(50,100,size=(50,5))
array_2d

array([[94, 57, 77, 70, 64],
       [57, 89, 60, 71, 71],
       [52, 98, 78, 58, 92],
       [83, 75, 85, 61, 82],
       [63, 65, 85, 67, 84],
       [68, 59, 74, 52, 78],
       [98, 89, 68, 81, 56],
       [76, 99, 80, 92, 96],
       [95, 64, 54, 55, 70],
       [96, 55, 85, 61, 90],
       [86, 64, 73, 98, 93],
       [78, 88, 98, 62, 58],
       [66, 79, 83, 73, 63],
       [54, 81, 86, 65, 98],
       [88, 51, 76, 89, 76],
       [55, 73, 58, 59, 58],
       [94, 84, 89, 60, 72],
       [84, 87, 84, 84, 68],
       [75, 93, 98, 66, 64],
       [52, 73, 64, 98, 85],
       [95, 73, 73, 92, 81],
       [73, 75, 91, 98, 86],
       [57, 95, 54, 77, 81],
       [77, 96, 91, 53, 87],
       [88, 66, 54, 85, 92],
       [90, 98, 86, 79, 81],
       [79, 58, 73, 95, 98],
       [76, 89, 58, 87, 71],
       [69, 90, 76, 55, 96],
       [92, 89, 81, 63, 92],
       [99, 58, 90, 70, 82],
       [76, 91, 57, 66, 67],
       [84, 54, 63, 71, 69],
       [88, 99, 78, 78, 77],
       [96, 59, 89, 63, 96],
       [94, 84, 92, 78, 84],
       [84, 76, 52, 55, 70],
       [65, 78, 53, 78, 77],
       [73, 66, 64, 82, 50],
       [95, 50, 64, 80, 72],
       [78, 77, 95, 67, 72],
       [69, 76, 53, 78, 50],
       [85, 85, 80, 57, 70],
       [53, 70, 52, 60, 55],
       [62, 61, 91, 58, 98],
       [91, 53, 85, 91, 62],
       [72, 60, 70, 50, 97],
       [68, 59, 52, 82, 78],
       [89, 79, 58, 67, 85],
       [90, 79, 52, 67, 68]])

In [4]:
#list comprehension->快速建立list
[f'{num}號' for num in range(1,51)]

['1號',
 '2號',
 '3號',
 '4號',
 '5號',
 '6號',
 '7號',
 '8號',
 '9號',
 '10號',
 '11號',
 '12號',
 '13號',
 '14號',
 '15號',
 '16號',
 '17號',
 '18號',
 '19號',
 '20號',
 '21號',
 '22號',
 '23號',
 '24號',
 '25號',
 '26號',
 '27號',
 '28號',
 '29號',
 '30號',
 '31號',
 '32號',
 '33號',
 '34號',
 '35號',
 '36號',
 '37號',
 '38號',
 '39號',
 '40號',
 '41號',
 '42號',
 '43號',
 '44號',
 '45號',
 '46號',
 '47號',
 '48號',
 '49號',
 '50號']

In [2]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

     國文  英文  數學  地理  社會
1號   99  98  78  98  91
2號   65  99  78  94  69
3號   53  96  90  90  79
4號   59  53  82  87  77
5號   62  56  85  79  89
6號   51  59  86  60  83
7號   78  61  66  67  70
8號   99  87  92  63  98
9號   56  99  87  52  72
10號  91  91  93  52  83
11號  53  69  67  80  64
12號  77  77  75  69  94
13號  99  80  93  83  52
14號  82  67  81  73  96
15號  66  91  90  88  81
16號  95  78  58  82  94
17號  63  87  94  98  62
18號  51  87  57  68  90
19號  94  59  73  73  76
20號  81  56  77  62  55
21號  98  85  60  97  74
22號  67  98  78  77  74
23號  56  82  80  75  64
24號  74  54  67  80  53
25號  66  97  64  52  94
26號  89  64  96  74  56
27號  80  97  71  93  85
28號  77  75  50  96  81
29號  84  74  94  97  76
30號  64  50  68  86  76
31號  67  81  53  71  94
32號  71  53  94  66  83
33號  98  83  77  51  88
34號  59  53  87  90  74
35號  63  75  91  59  71
36號  88  93  68  84  95
37號  87  97  95  50  99
38號  64  72  69  95  55
39號  89  92  82  80  87
40號  97  69  94  87  65
41號  55  95  83  78  88
42號  63  53  70  58  91
43號  98  99  61  68  52
44號  70  85  72  62  78
45號  78  74  86  98  95
46號  83  75  95  80  80
47號  82  51  78  71  82
48號  89  94  98  61  92
49號  55  75  75  91  54
50號  61  85  63  61  78

In [4]:
#從dataFrame取出ndarray
df1.values

array([[99, 98, 78, 98, 91],
       [65, 99, 78, 94, 69],
       [53, 96, 90, 90, 79],
       [59, 53, 82, 87, 77],
       [62, 56, 85, 79, 89],
       [51, 59, 86, 60, 83],
       [78, 61, 66, 67, 70],
       [99, 87, 92, 63, 98],
       [56, 99, 87, 52, 72],
       [91, 91, 93, 52, 83],
       [53, 69, 67, 80, 64],
       [77, 77, 75, 69, 94],
       [99, 80, 93, 83, 52],
       [82, 67, 81, 73, 96],
       [66, 91, 90, 88, 81],
       [95, 78, 58, 82, 94],
       [63, 87, 94, 98, 62],
       [51, 87, 57, 68, 90],
       [94, 59, 73, 73, 76],
       [81, 56, 77, 62, 55],
       [98, 85, 60, 97, 74],
       [67, 98, 78, 77, 74],
       [56, 82, 80, 75, 64],
       [74, 54, 67, 80, 53],
       [66, 97, 64, 52, 94],
       [89, 64, 96, 74, 56],
       [80, 97, 71, 93, 85],
       [77, 75, 50, 96, 81],
       [84, 74, 94, 97, 76],
       [64, 50, 68, 86, 76],
       [67, 81, 53, 71, 94],
       [71, 53, 94, 66, 83],
       [98, 83, 77, 51, 88],
       [59, 53, 87, 90, 74],
       [63, 75, 91, 59, 71],
       [88, 93, 68, 84, 95],
       [87, 97, 95, 50, 99],
       [64, 72, 69, 95, 55],
       [89, 92, 82, 80, 87],
       [97, 69, 94, 87, 65],
       [55, 95, 83, 78, 88],
       [63, 53, 70, 58, 91],
       [98, 99, 61, 68, 52],
       [70, 85, 72, 62, 78],
       [78, 74, 86, 98, 95],
       [83, 75, 95, 80, 80],
       [82, 51, 78, 71, 82],
       [89, 94, 98, 61, 92],
       [55, 75, 75, 91, 54],
       [61, 85, 63, 61, 78]])

In [3]:
#dataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

(1號     99
 2號     65
 3號     53
 4號     59
 5號     62
 6號     51
 7號     78
 8號     99
 9號     56
 10號    91
 11號    53
 12號    77
 13號    99
 14號    82
 15號    66
 16號    95
 17號    63
 18號    51
 19號    94
 20號    81
 21號    98
 22號    67
 23號    56
 24號    74
 25號    66
 26號    89
 27號    80
 28號    77
 29號    84
 30號    64
 31號    67
 32號    71
 33號    98
 34號    59
 35號    63
 36號    88
 37號    87
 38號    64
 39號    89
 40號    97
 41號    55
 42號    63
 43號    98
 44號    70
 45號    78
 46號    83
 47號    82
 48號    89
 49號    55
 50號    61
 Name: 國文, dtype: int64,
 1號     98
 2號     99
 3號     96
 4號     53
 5號     56
 6號     59
 7號     61
 8號     87
 9號     99
 10號    91
 11號    69
 12號    77
 13號    80
 14號    67
 15號    91
 16號    78
 17號    87
 18號    87
 19號    59
 20號    56
 21號    85
 22號    98
 23號    82
 24號    54
 25號    97
 26號    64
 27號    97
 28號    75
 29號    74
 30號    50
 31號    81
 32號    53
 33號    83
 34號    53
 35號    75
 36號    93
 37號    97
 38號    72
 39號    92
 40號    69
 41號    95
 42號    53
 43號    99
 44號    85
 45號    74
 46號    75
 47號    51
 48號    94
 49號    75
 50號    85
 Name: 英文, dtype: int64)

In [5]:
#Series的選取,使用subscript
#Series[數值的index]
df1['國文'][0]
#Series[數值的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]]
df1['國文'][['1號','2號','3號']]

/tmp/ipykernel_13964/3448787725.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    99
2號    65
3號    53
Name: 國文, dtype: int64

In [6]:
#dataFrame的subscripts
#dataFrame[欄位名稱]
df1['國文']

1號     99
2號     65
3號     53
4號     59
5號     62
6號     51
7號     78
8號     99
9號     56
10號    91
11號    53
12號    77
13號    99
14號    82
15號    66
16號    95
17號    63
18號    51
19號    94
20號    81
21號    98
22號    67
23號    56
24號    74
25號    66
26號    89
27號    80
28號    77
29號    84
30號    64
31號    67
32號    71
33號    98
34號    59
35號    63
36號    88
37號    87
38號    64
39號    89
40號    97
41號    55
42號    63
43號    98
44號    70
45號    78
46號    83
47號    82
48號    89
49號    55
50號    61
Name: 國文, dtype: int64

In [7]:
#dataFrame的subscripts
#dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

     國文  英文
1號   99  98
2號   65  99
3號   53  96
4號   59  53
5號   62  56
6號   51  59
7號   78  61
8號   99  87
9號   56  99
10號  91  91
11號  53  69
12號  77  77
13號  99  80
14號  82  67
15號  66  91
16號  95  78
17號  63  87
18號  51  87
19號  94  59
20號  81  56
21號  98  85
22號  67  98
23號  56  82
24號  74  54
25號  66  97
26號  89  64
27號  80  97
28號  77  75
29號  84  74
30號  64  50
31號  67  81
32號  71  53
33號  98  83
34號  59  53
35號  63  75
36號  88  93
37號  87  97
38號  64  72
39號  89  92
40號  97  69
41號  55  95
42號  63  53
43號  98  99
44號  70  85
45號  78  74
46號  83  75
47號  82  51
48號  89  94
49號  55  75
50號  61  85

In [8]:
#dataFrame的列的選取
#loc[字串]
#iloc[數值]

In [9]:
#選取1號
#loc[字串]
df1.loc['1號']

國文    99
英文    98
數學    78
地理    98
社會    91
Name: 1號, dtype: int64

In [10]:
#選取1號,2號,3號
#loc[[字串,字串]]
df1.loc[['1號','2號','3號']]

    國文  英文  數學  地理  社會
1號  99  98  78  98  91
2號  65  99  78  94  69
3號  53  96  90  90  79

In [11]:
#選取前5位
#iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  99  98  78  98  91
2號  65  99  78  94  69
3號  53  96  90  90  79
4號  59  53  82  87  77
5號  62  56  85  79  89

In [12]:
#選取後5位
#iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  83  75  95  80  80
47號  82  51  78  71  82
48號  89  94  98  61  92
49號  55  75  75  91  54
50號  61  85  63  61  78