In [1]:
import numpy as np
import pandas as pd

scores = pd.DataFrame(np.random.randint(50,101,size=(50,5)),
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores

     國文   英文  數學  地理   歷史
1    82   60  75  68   90
2    64   50  68  79   52
3    86   70  75  68   55
4   100   94  57  56   85
5    87   77  61  76   99
6    80   88  53  75  100
7    84   95  80  62   71
8    80   85  90  67   60
9    80   78  78  50   72
10   70   85  74  67   61
11   69   89  66  54   63
12   94   89  64  72   51
13   56   87  96  57   52
14  100   98  59  71   77
15   88   84  83  63  100
16   80   95  87  87   79
17   89   55  56  50   50
18   65   80  91  95   74
19   93   80  83  51   69
20   99   92  70  51   91
21   90   68  55  69   89
22   75   52  82  53   95
23   58   66  52  84   99
24   54   59  65  73   98
25   65   74  90  97   51
26   76   72  53  78   77
27   53   50  86  77   96
28   53   81  63  72   82
29   71   68  74  82  100
30   88   97  62  63   52
31   76   94  57  58   70
32   71   79  52  88   67
33   79   92  86  87   86
34   82   63  77  83   82
35   57   75  62  53   61
36   98   54  91  55   95
37   99   64  56  58   95
38   54   79  82  93  100
39   51   61  84  79   73
40   75   68  51  90   78
41   50   86  63  87   88
42   50   64  63  90   79
43   88   65  85  59   57
44   64   69  90  82   87
45   94   87  99  73   95
46   90   51  86  62   58
47   82  100  93  98   68
48   81   57  68  60   98
49   92   97  72  77   64
50   77   88  56  71   88

In [2]:
def abc(s):
    return s.max()
scores.apply(abc)

國文    100
英文    100
數學     99
地理     98
歷史    100
dtype: int64

In [4]:
def abc(s):
    return pd.Series([s.min(),s.max(),s.mean()],index=['最低分','最高分','平均'])
scores.apply(abc)

         國文      英文     數學    地理      歷史
最低分   50.00   50.00  51.00  50.0   50.00
最高分  100.00  100.00  99.00  98.0  100.00
平均    76.78   76.22  72.42  71.4   77.58